{% extends "boutique/base.html" %}
{% block title %}Connexion{% endblock  %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card p-4">
            <h2 class="fw-bold mb-4 text-center">Connexion</h2>
            
            {% if form.errors %}
            <div class="alert alert-danger">
                Nom de utilisateur ou mot de passe incorect
            </div>           
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="foem-label fw-bold">Nom d'utilisateur</label>
                    <input type="text" name="username"
                    class="form-control"
                    placeholder="Votre nom d'utilisateur"
                    autofocus>
                </div>
                <div class="mb-3">
                    <label for="form-label fw-bold">Mot de passe</label>
                    <input type="password" name="password"
                    class="form-control"
                    placeholder="Votre mot de passe">
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Se connecter</button>
                
            </form>
            <hr>
            <p class="text-center text-muted">
                Pas encore de compte?
                <a href="{% url 'boutique:inscription' %}">S'inscrire</a>
            </p>
                
        </div>
    </div>
</div>
{% endblock  %}